.recipes{
    border-radius: 15px;
    font-family: 'Brush Script MT', cursive;
    box-shadow: 0px 5px 20px rgb(175, 63, 63);
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    margin: 5px;
    padding: 5px;
}
.list{
    background: rgba(197, 101, 94, 0.603);
    border-radius: 10px;
    display: ruby-text;
}
.image{
    border-radius: 50%;
    border: crimson 5px solid;
    margin: 20px;
}